@keyframes paru{
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes loader-vis { 
  0% {visibility: visible;}
  85% {opacity: 1;}
  100% {visibility: hidden; opacity: 0;}
}
 
@keyframes lumi-rotat {
  from {transform: rotate(0turn);}
  to {transform: rotate(1turn);}
}
  
// AUTRES
@keyframes valid {
  from {transform: rotate(-360deg);}
  to {transform: rotate(0);}
}

@keyframes appar {
  from {opacity: 0;}
  to {opacity: 1;}
}