// definitions des madias

// definitions d'autres

@mixin box-shadow-primary {
    box-shadow: 0 5px 5px $color-seven;
}

@mixin box-shadow-secondary {
    box-shadow: 0 5px 5px $color-eight;
}

@mixin choice {
    display: flex;
    justify-content: space-between;
    background: $color-five;
    @include box-shadow-secondary;
    border-radius: 15px;
    margin: 15px -5px;
    padding: 5px;
    & h3, p{
        margin: 5px;
    }
}

@mixin span-price {
    position: relative;
    font-weight: bold;
    top: 57%;
}