@charset "UTF-8";
/* Pour meilleur contraste redcolor #bd1d1d; */
/* #E5E5E5 */
/* #B1B1B14B */
/* #CFCFCF */
@keyframes paru {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes loader-vis {
  0% {
    visibility: visible;
  }
  85% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes lumi-rotat {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes feui-glisse {
  from {
    transform: translate(0) rotate(90deg) rotateY(-30deg);
  }
  to {
    transform: translate(1px, 3px) rotate(125deg) rotateY(0deg);
  }
}
@keyframes feui-choc1 {
  0% {
    transform: rotate(-80deg);
  }
  50% {
    transform: rotate(-76deg);
  }
  100% {
    transform: rotate(-80deg);
  }
}
@keyframes feui-choc2 {
  0% {
    transform: rotate(-50deg);
  }
  50% {
    transform: rotate(-46deg);
  }
  100% {
    transform: rotate(-50deg);
  }
}
@keyframes verre-rebond {
  0% {
    transform: translate(0);
  }
  32% {
    transform: translate(2px, 14px);
  }
  45% {
    transform: translate(3px, 12px);
  }
  55% {
    transform: translate(5px, 15px);
  }
  100% {
    transform: translate(10px, 15px);
  }
}
@keyframes verre-roule {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(4px, 5px);
  }
}
@keyframes verre-choc {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(3px, 3px);
  }
}
@keyframes valid {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes appar {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.like:hover {
  cursor: pointer;
}
.like:hover .like--off {
  opacity: 0;
}
.like:hover .like--on {
  transform: scale(1);
}
.like-accueil {
  position: relative;
  font-size: 25px;
  width: 25px;
  height: 29px;
  color: #737373;
  top: 16px;
  right: 24px;
}
.like-accueil .like--off {
  background: white;
}
.like-menu {
  position: relative;
  font-size: 1.563em;
  width: 1em;
  height: 1em;
  color: #737373;
  top: 18px;
  right: 12px;
  margin-right: 1em;
  margin-left: -1.3em;
}
@media screen and (min-width: 768px) {
  .like-menu {
    margin-left: -1.25em;
  }
}
@media screen and (min-width: 1024px) {
  .like-menu {
    margin-left: none;
  }
}
.like--off {
  position: absolute;
  z-index: 1;
  background: #f6f6f6;
}
.like--off-menu {
  top: 8px;
  left: 8px;
}
.like--on {
  position: absolute;
  background: linear-gradient(#FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0.92);
  transition: transform 0.1s calc(500ms - 200ms);
}
.like--on-menu {
  top: 8px;
  left: 8px;
}

.menu__clique {
  position: relative;
  background: white;
  box-shadow: 0 0.313em 0.313em #c9c9c9;
  border-radius: 0.938em;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0.938em -0.313em;
  padding: 0.313em;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu__clique {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .menu__clique {
    width: initial;
  }
}
.menu__clique h3, .menu__clique p {
  margin: 0.28em;
}
.menu__clique h3 {
  transition: width 0.75s;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu__clique:hover .menu__clique--titre {
  width: calc(100% - 60px);
}
.menu__clique:hover .menu__clique--titre__infos--prix {
  transform: translateX(-5px);
}
.menu__clique:hover .menu__clique--animation {
  transform: translateX(-60px);
}
.menu__clique:hover .menu__clique--animation .item {
  animation: valid 2.5s;
}
.menu__clique--titre {
  margin: 0 4px;
}
.menu__clique--titre__infos {
  display: flex;
  justify-content: space-between;
}
.menu__clique--titre__infos--texte {
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 85%;
  transition: width 0.75s;
}
.menu__clique--titre__infos--prix {
  position: relative;
  font-weight: bold;
  transition: transform 1.5s 0.05s;
}
.menu__clique--animation {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #99E2D0;
  right: -60px;
  top: 0;
  width: 60px;
  height: 100%;
  transition: transform 1s;
  text-align: center;
}
.menu__clique--animation .item {
  color: white;
  font-size: 1.35em;
}
@media screen and (min-width: 768px) {
  .menu__clique--right {
    right: -155px;
  }
}
@media screen and (min-width: 1024px) {
  .menu__clique--right {
    right: initial;
  }
}

@keyframes valid {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0);
  }
}
.restaurant--titre {
  animation: paru 2s backwards;
}

.menu {
  animation: paru 4s backwards;
}
.menu__clique-1 {
  animation: paru 6s backwards;
}
.menu__clique-2 {
  animation: paru 8s backwards;
}
.menu__clique-3 {
  animation: paru 10s backwards;
}
.menu__clique-4 {
  animation: paru 12s backwards;
}
.menu__clique-5 {
  animation: paru 14s backwards;
}
.menu__clique-6 {
  animation: paru 16s backwards;
}
.menu__clique-7 {
  animation: paru 18s backwards;
}
.menu__clique-8 {
  animation: paru 20s backwards;
}
.menu__clique-9 {
  animation: paru 22s backwards;
}

.loader {
  position: fixed;
  display: flex;
  flex-direction: column;
  background: #000000ab;
  font-size: 1.9em;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 10;
  justify-content: center;
  align-items: center;
  animation: loader-vis 3s forwards;
}
.loader__rel {
  position: relative;
  height: 130px;
  width: 130px;
  background: white;
  border-radius: 50%;
}
.loader__rel .ldr-lumi {
  position: absolute;
  height: 126px;
  width: 126px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  opacity: 0;
}
.loader__rel .ldr-lumi--1 {
  background: #FF79DA;
  animation: appar 500ms forwards;
}
.loader__rel .ldr-lumi--2 {
  background: #99E2D0;
  animation: appar 500ms 0.5s forwards;
}
.loader__rel .ldr-lumi--3 {
  background: #9356DC;
  animation: appar 500ms 1s forwards;
}
.loader__rel .ldr-lumi--4 {
  background: #ff86de;
  background: linear-gradient(90deg, #ff86de 25%, #99e2d0 50%, #9356dc 75%);
  animation: appar 100ms 1.5s forwards, lumi-rotat 600ms 1.5s infinite;
  /* Sur la version finale, le temps de chargement déterminera la durée de rotation */
}
.loader__rel .ldr-plat {
  position: absolute;
  z-index: 2;
  top: 25px;
  left: 25px;
  box-sizing: border-box;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: white;
  box-shadow: inset 0px 0px 12px -6px black;
}
.loader__rel .ldr-plat__feui {
  position: absolute;
  z-index: 3;
}
.loader__rel .ldr-plat__feui--1 {
  right: 10px;
  top: 10px;
  transform: rotate(-50deg);
  color: #99E2D0;
  opacity: 0;
  animation: appar 150ms 0.5s forwards, feui-choc2 150ms 1.5s;
}
.loader__rel .ldr-plat__feui--2 {
  right: 25px;
  top: 7px;
  transform: rotate(-80deg);
  color: #4acbab;
  z-index: 4;
  opacity: 0;
  animation: appar 150ms 0.6s forwards, feui-choc1 150ms 1.4s;
}
.loader__rel .ldr-plat__feui--3 {
  right: 11px;
  top: 17px;
  color: #278870;
  transform: rotate(90deg) rotateY(-30deg);
  z-index: 4;
  opacity: 0;
  animation: appar 250ms 0.7s forwards, feui-glisse 1300ms 1.6s cubic-bezier(0.37, 1.25, 0.92, 1) forwards;
}
.loader__rel .ldr-plat__verre {
  position: absolute;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  opacity: 0;
  z-index: 3;
  color: #FF79DA;
}
.loader__rel .ldr-plat__verre--1 {
  right: 15px;
  top: 36px;
  transform: rotate(360deg);
  color: #FF79DA;
  z-index: 4;
  width: 12px;
  height: 12px;
  animation: appar 100ms 1s forwards, rais-choc 500ms 1.45s cubic-bezier(0.13, 1.15, 0.92, 1) forwards;
}
.loader__rel .ldr-plat__tart {
  position: absolute;
  top: 25px;
  left: 5px;
  transform: rotate(210deg);
  color: #fface8;
  opacity: 0;
  animation: appar 500ms forwards;
}
.loader__rel .ldr-plat__couv {
  position: absolute;
  border-radius: 50%;
  height: 5px;
  width: 5px;
  z-index: 4;
  opacity: 0;
}
.loader__rel .ldr-plat__couv--1 {
  top: 45px;
  right: 48px;
  color: #782cd3;
  animation: appar 100ms 0.2s forwards;
}

html {
  font-family: roboto, sans-serif;
  margin: 0;
}

body {
  margin: auto;
}

h1 {
  font-family: shrikhand;
  font-size: 1.25em;
}

h3 {
  font-weight: bold;
}

button {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5;
  color: white;
  background: linear-gradient(#FF79DA 0%, #9356DC 100%);
  box-shadow: 0 0.313em 0.313em #c9c9c9;
  border-radius: 2.5em;
  border: none;
  margin-top: 1.4em;
  padding: 1.2em 1.4em;
  cursor: pointer;
}

.fonctionnement {
  text-align: center;
  margin: 3em auto;
}
.fonctionnement h2 {
  font-size: 1.625em;
  text-align: left;
  width: 90%;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .fonctionnement h2 {
    text-align: center;
  }
}
.fonctionnement__choix {
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .fonctionnement__choix {
    display: flex;
    flex-wrap: wrap;
  }
}
.fonctionnement__choix__clique {
  display: flex;
  background: #f6f6f6;
  height: 5em;
  align-items: center;
  border-radius: 1.25em;
  box-shadow: 0 0.313em 0.313em #E8E8E8;
  margin: 2em auto;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .fonctionnement__choix__clique {
    width: 45%;
  }
}
@media screen and (min-width: 1024px) {
  .fonctionnement__choix__clique {
    width: 30%;
  }
}
.fonctionnement__choix__clique--nombre {
  background-color: #9356DC;
  color: white;
  width: 0.75em;
  height: 0.75em;
  line-height: 0.8;
  border-radius: 1.563em;
  margin-left: -1em;
  padding: 0.625em;
}
.fonctionnement__choix__clique i {
  font-size: 1.25em;
  width: 1.25em;
  color: #7f7f7f;
  margin: auto 1.5em;
}
@media screen and (min-width: 1024px) {
  .fonctionnement__choix__clique i {
    margin-left: 4%;
    margin-right: 4%;
  }
}
.fonctionnement__choix__clique--titre {
  font-size: 1.125em;
  font-weight: bold;
}
.fonctionnement__choix__clique:hover {
  background-color: #9356DC21;
}
@media screen and (min-width: 1024px) {
  .fonctionnement__choix__clique:hover {
    box-shadow: 0 0.313em 0.313em #e4d5f6;
  }
}
.fonctionnement__choix__clique:hover i {
  color: #9356DC;
}

.restaurants {
  background: #f6f6f6;
  padding: 3.125em 0;
}
@media screen and (min-width: 768px) {
  .restaurants {
    display: flex;
    flex-wrap: wrap;
    border-top-left-radius: 1.875em;
    border-top-right-radius: 1.875em;
    padding-left: 0.938em;
    padding-right: 0.938em;
  }
}
@media screen and (min-width: 768px) and (min-width: 1024px) {
  .restaurants {
    border-radius: initial;
  }
}
.restaurants h2 {
  font-size: 1.625em;
  width: 90%;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .restaurants h2 {
    text-align: center;
    margin-top: -15px;
    margin-bottom: 15px;
  }
}
.restaurants__choix {
  width: 90%;
  background: white;
  box-shadow: 0 0.313em 0.313em #E8E8E8;
  border-radius: 0.938em;
  margin: 1em auto;
}
@media screen and (min-width: 768px) {
  .restaurants__choix {
    width: 45%;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants__choix {
    width: 23%;
  }
}
.restaurants__choix a {
  text-decoration: none;
  color: black;
}
.restaurants__choix--nouveau {
  font-size: 0.813em;
  font-weight: bold;
  position: absolute;
  width: 20%;
  background-color: #99E2D0;
  color: #278870;
  text-align: center;
  left: 70%;
  border-radius: 0.125em;
  margin-top: 3%;
  padding: 0.313em;
}
@media screen and (min-width: 768px) {
  .restaurants__choix--nouveau {
    width: 8%;
    left: initial;
    margin-top: 2%;
    margin-left: 32.5%;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants__choix--nouveau {
    width: 8%;
    left: initial;
    margin-top: 1.5%;
    margin-left: 12.3%;
  }
}
.restaurants__choix img {
  width: 100%;
  height: 12.5em;
  border-top-right-radius: 0.938em;
  border-top-left-radius: 0.938em;
  object-fit: cover;
}
.restaurants__choix__texte {
  display: flex;
  justify-content: space-between;
}
.restaurants__choix__texte--description {
  margin: 0.688em 0.938em;
}
.restaurants__choix__texte--description h3, .restaurants__choix__texte--description p {
  margin: 0;
  padding-bottom: 0.25em;
}

.backgr-rest {
  background: #f6f6f6;
}

.photo-entête img {
  object-fit: cover;
  width: 100%;
  height: 15.63em;
}

.restaurant {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: #f6f6f6;
  border-top-right-radius: 2.188em;
  border-top-left-radius: 2.188em;
  margin-top: -2.188em;
  margin-bottom: -2.188em;
}
.restaurant--titre {
  font-size: 1.375em;
  width: 85%;
  margin: 0 auto;
}
.restaurant--titre h1 {
  margin-bottom: 0;
}

.menu {
  width: 90%;
  margin: auto;
}
@media screen and (min-width: 1024px) {
  .menu {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .menu__entrée {
    width: 30%;
    margin: auto;
  }
}
@media screen and (min-width: 1024px) {
  .menu__plat {
    width: 30%;
    margin: auto;
  }
}
@media screen and (min-width: 1024px) {
  .menu__dessert {
    width: 30%;
    margin: auto;
  }
}
.menu h2 {
  font-size: 1.25em;
  font-weight: lighter;
  width: 2.5em;
  border-bottom: 0.2em solid #99E2D0;
  margin-top: 2em;
  padding-bottom: 0.25em;
}

.commander {
  text-align: center;
  padding: 1.25em 0 5.313em 0;
  background: #f6f6f6;
  margin: auto;
}
.commander button {
  padding-left: 3.75em;
  padding-right: 3.75em;
}

footer {
  background-color: #353535;
  color: white;
  padding-top: 0.2em;
  padding-bottom: 0.7em;
}

.footer {
  width: 90%;
  margin: 1em auto;
}
@media screen and (min-width: 768px) {
  .footer {
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    text-align: center;
  }
}
.footer h3 {
  font-family: shrikhand;
}
.footer__nav-footer i {
  width: 28px;
}
.footer__nav-footer .handshakes {
  font-size: 0.813em;
  width: 29px;
  margin-left: -1px;
}
.footer__nav-footer a {
  text-decoration: none;
  color: white;
}

.header {
  text-align: center;
}
.header__logo-page-accueil img {
  width: 50%;
  margin: 3em 1em 1.5em 1em;
}
@media screen and (min-width: 768px) {
  .header__logo-page-accueil img {
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .header__logo-page-accueil img {
    width: 25%;
  }
}
.header__localisation {
  display: flex;
  justify-content: center;
  background: linear-gradient(#c9c9c9 0%, #E8E8E8 12%);
  height: 3.5em;
}
@media screen and (min-width: 768px) {
  .header__localisation {
    border-top-left-radius: 1.875em;
    border-top-right-radius: 1.875em;
  }
}
@media screen and (min-width: 1024px) {
  .header__localisation {
    border-radius: initial;
  }
}
.header__localisation--gps {
  line-height: 2.9;
  font-size: 1.25em;
  width: 2em;
  margin-left: 7%;
  padding-right: 1%;
}
.header__localisation--ville {
  font-size: 1.25em;
  border: none;
  background: linear-gradient(#c9c9c9 0%, #E8E8E8 12%);
}
.header__présentation {
  background-color: #f6f6f6;
  padding-top: 2em;
  padding-bottom: 3.75em;
}
.header__présentation h1, .header__présentation p {
  font-family: roboto, sans-serif;
  font-size: 1.25em;
  width: 90%;
  margin: 0.5em auto;
}
.header__présentation h1 {
  font-size: 1.876em;
  width: 80%;
}

.headers {
  display: flex;
}
.headers__icon {
  font-size: 1.375em;
  line-height: 3em;
  margin-left: 7%;
  margin-right: -10%;
}
@media screen and (min-width: 768px) {
  .headers__icon {
    font-size: 25px;
    line-height: 4em;
  }
}
@media screen and (min-width: 1024px) {
  .headers__icon {
    font-size: 30px;
    line-height: 4em;
  }
}
.headers__icon i {
  color: black;
}
.headers__logo-page-restaurants {
  display: flex;
  justify-content: center;
  width: 68%;
  margin: auto;
}
.headers__logo-page-restaurants img {
  width: 70%;
}
@media screen and (min-width: 768px) {
  .headers__logo-page-restaurants img {
    width: 45%;
    margin: 20px auto;
  }
}
@media screen and (min-width: 1024px) {
  .headers__logo-page-restaurants img {
    width: 35%;
    margin: 20px auto;
  }
}

/*# sourceMappingURL=styles.css.map */
