:root
{
    --pinkcolor: #FF79DA;
    --magentacolor: #9356DC;
    --greencolor: #99E2D0;
    --greycolor: #F2F2F2; /* Pour meilleur contraste redcolor #bd1d1d; */
    --darkgreycolor: #B1B1B14B;
    --whitecolor: white;
}