button{
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5;
    color: $color-five;
    background: $color-button;
    @include box-shadow-secondary;
    border-radius: 2.5em;
    border: none;
    margin-top: 1.4em;
    padding: 1.2em 1.4em;
    cursor: pointer;
}