.fonctionnement
{
    text-align: center;
    margin: 3em auto;
    & h2{
        font-size: 1.625em;
        text-align: left;
        width: 90%;
        margin: auto;
        @include desktop{
            font-size: 28px;
            text-align: center;
        }
    }
    &__choix{
        width: 90%;
        margin: 0 auto;
        @include desktop{
            display: flex;
            flex-wrap: wrap;
        }
        &__clique{
            display: flex;
            background: $color-six;
            height: 5em;
            align-items: center;
            border-radius: 1.25em;
            @include box-shadow-primary;
            margin: 2em auto;
            cursor: pointer;
            @include desktop{
                width: 45%;
            }
            &--nombre{
                background-color: $color-secondary;
                color: $color-five;
                width: 0.75em;
                height: 0.75em;
                line-height: 0.8;
                border-radius: 1.563em;
                margin-left: -1em;
                padding: 0.625em;
            }
            & i{
                font-size: 1.25em;
                width: 1.25em;
                color: $color-item;
                margin: auto 1.5em;
            }
            &--titre{
                font-size: 1.125em;
                font-weight: bold;
            }
            &:hover{
                background-color: $color-hover;
                @include desktop{
                    box-shadow: 0 0.313em 0.313em lighten($color: $color-secondary, $amount: 30%);
                }
                & i{
                    color: $color-secondary;
                }
            }
        }
    }
}