.restaurants{
    background: $color-six;
    padding: 3.125em 0;
    @include tablet{
        display: flex;
        flex-wrap: wrap;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }
    & h2{
        font-size: 1.625em;
        width: 90%;
        margin: auto;
        @include tablet{
            text-align: center;
            margin-top: -15px;
            margin-bottom: 15px;
        }
    }
    &__choix{
        width: 90%;
        background: $color-five;
        @include box-shadow-primary;
        border-radius: 0.938em;
        margin: 1em auto;
        @include tablet{
            width: 45%;
        }
        & a{
            text-decoration: none;
            color: $color-nine;
        }
        &--nouveau{
            font-size: 0.813em;
            font-weight: bold;
            position: absolute;
            width: 20%;
            background-color: $color-tertiary;
            color: darken($color: $color-tertiary, $amount: 40%);
            text-align: center;
            left: 70%;
            border-radius: 0.125em;
            margin-top: 3%;
            padding: 0.313em;
            @include tablet{
                width: 8%;
                left: initial;
                margin-top: 2%;
                margin-left: 255px;
            }
        }
        & img{
            width: 100%;
            height: 12.5em;
            border-top-right-radius: 0.938em;
            border-top-left-radius: 0.938em;
            object-fit: cover;
        }
        &__texte{
            display: flex;
            justify-content: space-between;
            &--description{
                margin: 0.688em 0.938em;
                & h3, p{
                    margin: 0;
                    padding-bottom: 0.25em;
                }
            }
        }
    }
}