footer{
    background-color: $color-footer;
    color: $color-five;
    padding-top: 0.2em;
    padding-bottom: 0.7em;
    @include desktop{
        background-color: $back-color-desk-sec;
    }
}

.footer{
    width: 90%;
    margin: 1em auto;
    @include desktop{
        text-align: center;
        color: $color-secondary;
    }
    & h3{
        font-family: shrikhand;
    }
    &__nav-footer{
        & p{
            @include desktop{
                color: $color-primary;
            }
        }
        & i{
            width: 28px;
        }
        & .handshakes{
            font-size: 0.813em;
            width: 29px;
            margin-left: -1px;
        }
        & a{
            text-decoration: none;
            color: $color-five;
            @include desktop{
                color: $color-secondary;
            }
        }
    }
}