.header{
    text-align: center;
    &__logo-page-accueil img{
        width: 50%;
        margin: 3em 1em 1.5em 1em;
    }
    &__localisation{
        display: flex;
        justify-content: center;
        background: $color-banniere;
        height: 3.5em;
        &--gps{
            line-height: 2.9;
            font-size: 1.25em;
            width: 2em;
            margin-left: 7%;
            padding-right: 1%;
        }
        &--ville{
            font-size: 1.25em;
            border: none;
            background: $color-banniere;
        }
    }
    &__présentation{
        background-color: $color-six;
        padding-top: 2em;
        padding-bottom: 3.75em;
        & h1, p{
            font-family: roboto, sans-serif;
            font-size: 1.25em;
            width: 90%;
            margin: 0.5em auto;
        }
        & h1{
            font-size: 1.876em;
            width: 80%;
        }
    }
}

.headers{
    display: flex;
    &__icon{
        font-size: 1.375em;
        line-height: 3em;
        margin-left: 7%;
        margin-right: -10%;
        & i{
            color: $color-nine;
        }
    }
    &__logo-page-restaurants{
        display: flex;
        justify-content: center;
        width: 68%;
        margin: auto;
        & img{
            width: 70%;
        }
    }
}