.backgr-rest{
    background: $color-six;
}

.photo-entête{
    & img{
        object-fit: cover;
        width: 100%;
        height: 15.63em;
    }
}

.restaurant{
    position: relative;
    display: flex;
    justify-content: space-between;
    background: $color-six;
    border-top-right-radius: 2.188em;
    border-top-left-radius: 2.188em;
    margin-top: -2.188em;
    margin-bottom: -2.188em;
    &--titre{
        font-size: 1.375em;
        width: 85%;
        margin: 0 auto;
    }
}

.menu{
    width: 90%;
    margin: auto;
    @include desktop{
        display: flex;
    }
    &__entrée{
        @include desktop{
            width: 30%;
            margin: auto;
        }
    }
    &__plat{
        @include desktop{
            width: 30%;
            margin: auto;
        }
    }
    &__dessert{
        @include desktop{
            width: 30%;
            margin: auto;
        }
    }
    & h2{
        font-size: 1.25em;
        font-weight: lighter;
        width: 2.5em;
        border-bottom: 0.2em solid $color-tertiary;
        margin-top: 2em;
        padding-bottom: 0.25em;
    }
}

.commander{
    text-align: center;
    padding: 1.25em 0 5.313em 0;
    background: $color-six;
    margin: auto;
    & button{
        padding-left: 3.75em;
        padding-right: 3.75em;
    }
}