.backgr-rest{
    background: $color-six;
}

.photo-entête{
    & img{
        object-fit: cover;
        width: 100%;
        height: 15.63em;
    }
}

.restaurant{
    position: relative;
    display: flex;
    justify-content: space-between;
    background: $color-six;
    border-top-right-radius: 2.188em;
    border-top-left-radius: 2.188em;
    margin-top: -2.188em;
    margin-bottom: -2.188em;
    &--titre{
        font-size: 1.375em;
        width: 85%;
        margin: 0 auto;
        & h1{
            margin-bottom: 0;
        }
    }
}

.menu{
    width: 90%;
    margin: auto;
    @include desktop{
        display: flex;
    }
    &__entrée{
        @include desktop{
            width: 30%;
            margin: auto;
        }
    }
    &__plat{
        @include desktop{
            width: 30%;
            margin: auto;
        }
    }
    &__dessert{
        @include desktop{
            width: 30%;
            margin: auto;
        }
    }
    & h2{
        font-size: 1.25em;
        font-weight: lighter;
        width: 2.5em;
        border-bottom: 0.2em solid $color-tertiary;
        margin-top: 2em;
        padding-bottom: 0.25em;
    }
    &__clique{
        @include tablet{
            width: 80%;
        }
        @include desktop{
            width: initial;
        }
        @include choice;
        &:hover{
            & .menu__clique--titre{
                width: calc(100% - 60px);
                &__infos{
                    &--prix{
                        transform: translateX(-5px);
                    }
                }
            }
            & .menu__clique--animation{
                transform: translateX(-60px);
                & .item{
                    animation: valid 2.5s;
                }
            }
        }
        &--titre{
            margin: 0 4px;
            &__infos{
                display: flex;
                justify-content: space-between;
                &--texte{
                    font-weight: 300;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    width: 85%;
                    transition: width 0.75s;
                }
                &--prix{
                    @include span-price;
                    transition: transform 1.5s 0.05s;
                }
            }
        }
        &--animation{
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: $color-tertiary;
            right: -60px;
            top: 0;
            width: 60px;
            height: 100%;
            transition: transform 1s;
            text-align: center;
            & .item{
                color: $color-five;
                font-size: 1.35em;
            }
        }
    }
    &__clique--right{
        @include tablet{
            right: -155px;
        }
        @include desktop{
            right: initial;
        }
    }
}

@keyframes valid {
    from {
        transform: rotate(-360deg);
    }
    to {
        transform: rotate(0);
    }
}

.commander{
    text-align: center;
    padding: 1.25em 0 5.313em 0;
    background: $color-six;
    margin: auto;
    & button{
        padding-left: 3.75em;
        padding-right: 3.75em;
    }
}