.menu{
    &__clique{
        @include tablet{
            width: 80%;
        }
        @include desktop{
            width: initial;
        }
        @include choice;
        &:hover{
            & .menu__clique--titre{
                &__infos{
                    &--texte{
                        width: calc(100% - 100px);
                    }
                    &--prix{
                        transform: translateX(-60px);
                    }
                }
            }
            & .menu__clique--animation{
                transform: translateX(-60px);
                & .item{
                    animation: valid 2.5s;
                }
            }
        }
        &--titre{
            margin: 0 4px;
            &__infos{
                display: flex;
                justify-content: space-between;
                &--texte{
                    font-weight: 300;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    width: 100%;
                    transition: width 0.75s;
                }
                &--prix{
                    font-weight: bold;
                    transition: transform 1s 0.05s;
                    transform: translate(0);
                }
            }
        }
        &--animation{
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: $color-tertiary;
            right: -60px;
            top: 0;
            width: 60px;
            height: 100%;
            transition: transform 1s;
            text-align: center;
            & .item{
                color: $color-five;
                font-size: 1.35em;
            }
        }
    }
    &__clique--right{
        @include tablet{
            right: -155px;
        }
        @include desktop{
            right: initial;
        }
    }
}

@keyframes valid {
    from {
        transform: rotate(-360deg);
    }
    to {
        transform: rotate(0);
    }
}