.loader{
  position: fixed;
  display: flex;
  flex-direction: column;
  background: $color-loader;
  font-size: 1.9em; 
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 10;   
  justify-content: center;
  align-items: center;
  animation: loader-vis 6s forwards;
  &__rot{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 130px;
    background: $color-five;
    border-radius: 50%;
    & .loader-color{
    position: absolute;
    height: 126px;
    width: 126px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    opacity: 0;
      &--1{
        background: $color-primary;
        animation: paru 500ms forwards;
      }
      &--2{
        background: $color-tertiary; 
        animation: paru 500ms .5s forwards;
      }
      &--3{
        background: $color-secondary;
        animation: paru 500ms 1s forwards;
      }
      &--4{
        background: $color-loader-primary;
        background: $color-loader-rot;
        animation: paru 100ms 1.5s forwards, loader-rot 600ms 1.5s infinite;
      }
    }
  }
  &__rot--1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background: $color-five;
    border-radius: 50%;
    & .loader-color{
    position: absolute;
    height: 96px;
    width: 96px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    opacity: 0;
      &--1{
        background: $color-secondary;
        animation: paru 500ms forwards;
      }
      &--2{
        background: $color-primary;
        animation: paru 500ms .5s forwards;
      }
      &--3{
        background: $color-tertiary;
        animation: paru 500ms 1s forwards;
      }
      &--4{
        background: $color-loader-primary;
        background: $color-loader-rot;
        animation: paru 100ms 1.5s forwards, loader-rot--2 600ms 1.5s infinite;
      }
    }
  }
  &__rot--2{
    position: relative;
    height: 60px;
    width: 60px;
    background: $color-five;
    border-radius: 50%;
    & .loader-color{
    position: absolute;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    opacity: 0;
      &--1{
        background: $color-tertiary;
        animation: paru 500ms forwards;
      }
      &--2{
        background: $color-secondary;
        animation: paru 500ms .5s forwards;
      }
      &--3{
        background: $color-primary;
        animation: paru 500ms 1s forwards;
      }
      &--4{
        background: $color-loader-primary;
        background: $color-loader-rot;
        animation: paru 100ms 1.5s forwards, loader-rot 600ms 1.5s infinite;
        & .loader__logo{
          & img{
            animation: loader-logo 1200ms 1.2s infinite;
            /*background: $color-button;
            border-radius: 30px;*/ /* Possibilité de rajouter une bulle */
          }
        }
      }
    }
  }
}