.loader{
  position: fixed;
  @include position;
  flex-direction: column;
  background: $color-loader;
  font-size: 1.9em; 
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 10;
  animation: loader-vis 6s forwards;
  &__rot{
    @include rot;
    height: 130px;
    width: 130px;
    & .loader-color{
      @include loader-color;
      height: 126px;
      width: 126px;
      &--1{
        background: $color-primary;
      }
      &--2{
        background: $color-tertiary;
      }
      &--3{
        background: $color-secondary;
      }
      &--4{
        animation: paru 100ms 1.5s forwards, loader-rot 600ms 1.5s infinite;
      }
    }
  }
  &__rot--1{
    @include rot;
    height: 100px;
    width: 100px;
    & .loader-color{
      @include loader-color;
      height: 96px;
      width: 96px;
      &--1{
        background: $color-secondary;
      }
      &--2{
        background: $color-primary;
      }
      &--3{
        background: $color-tertiary;
      }
      &--4{
        animation: paru 100ms 1.5s forwards, loader-rot--2 600ms 1.5s infinite;
      }
    }
  }
  &__rot--2{
    @include rot;
    height: 60px;
    width: 60px;
    & .loader-color{
      @include loader-color;
      height: 56px;
      width: 56px;
      &--1{
        background: $color-tertiary;
      }
      &--2{
        background: $color-secondary;
      }
      &--3{
        background: $color-primary;
      }
      &--4{
        animation: paru 100ms 1.5s forwards, loader-rot 600ms 1.5s infinite;
        & .loader__logo{
          & img{
            animation: loader-logo 1200ms 1.2s infinite;
            /*background: $color-button;
            border-radius: 30px;*/ /* Possibilité de rajouter une bulle */
          }
        }
      }
    }
  }
}